@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
$green-color: #97bf11;
$gray-color: #474747;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 3;

  .navLogo {
    width: 100px;
    height: auto;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8vh;

    li {
      list-style: none;
    }

    * {
      margin: 0.5vh 0;
    }

    .navItem {
      display: flex;
      width: 90%;

      a {
        text-decoration: none;
        color: $gray-color;
        transition: color 0.3s ease-in-out;
        width: 100%;
        padding: 15px;
      }

      .active {
        background-color: $green-color;
        color: #fff;
      }
      
      .logout-btn {
        font-size: 1.2rem;
        width: 100px;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        background-color: $green-color;
        border: none;
        border-radius: 20px;
        margin-left: 10%;
      }
    }
  }

  .navIcons {
    margin-top: 25vh;
    color: $gray-color;

    * {
      padding: 0 10px;
    }
  }
}

// Media query for screens with a width of 425px or smaller
@media screen and (max-width: 425px) {
  .navbar {
    min-width: auto;
    width: 23vw;
    padding: 3vh 0;
    overflow: hidden;
    left: 0;
    transition: width 0.4s ease-in-out;
    font-size: 1.5em;

    &:hover {
      width: 40vw;
      align-items: center;
      transition: width 0.3s ease-in-out;
    }

    .navLogo {
      width: 80px;
    }

    .navItems {
      margin-top: 5vh;

      .navItem {
        width: 100%;
        a {
          padding: 10px;
          width: 100%;
        }
      }
    }

    .navIcons {
      margin-top: 2vh;
      display: flex;
    }
  }
}

// Media query for screens with a width of 768px or smaller
@media screen and (min-width: 500px) and (max-width: 768px) {
  .navbar {
    width: 15vw;
    min-width: auto;
    overflow: hidden;
    padding: 3vh 0;
    left: 0;
    align-items: baseline;
    transition: width 0.4s ease-in-out;

    &:hover {
      width: 30vw;
      align-items: center;
      transition: width 0.3s ease-in-out;
    }

    .navLogo {
      width: 80px;
    }

    .navItems {
      margin-top: 5vh;

      .navItem {
        width: 100%;
        a {
          padding: 10px;
        }
        
        button {
          margin-left: 20%;
        }
      }
    }

    .navIcons {
      margin-top: 2vh;
      display: flex;
    }
  }
}
