.reservations-container {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 20%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.display-card-title {
  text-align: center;
  font-size: 2em;
}

.card-content {
  text-align: center;
  font-size: 1.2em;
}
