@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

.reservations-container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 20%;
}

.reservations-container p {
  font-size: 1.5em;
}

.title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #474747;
  letter-spacing: 0.5rem;
}

.reservation-info {
  justify-content: space-evenly;
  align-items: center;
}
.each-room-reserved {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reservation-img img {
  width: 50%;
  height: 50%;
}

/* Delete Page */

.delete-container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 20%;
}

.delete-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
}

.display-card-title {
  text-align: center;
  font-size: 2em;
}

.card-content {
  text-align: center;
  font-size: 1.2em;
}
